body{
  background: url(cutting_board_background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact,sans-serif;
    letter-spacing: 3px;
    
}
header{
    background-color:#A95E5E;
      color: #fff;
      padding: 10px;
      text-align: center;
      font-size: xx-large;
    }
    main {
        max-width: 1000px;
        margin: 20px auto;
        border: 5px solid #ddd;
        color:#d5c4b4 ;
      }
      form {
        text-align: center;
        background-color: #55606b;
        font-size: large;
      }
      form label,
    form input{
      display: block;
      margin: 10px auto;
      margin-bottom: 10px;
      border-color:#55606b ;
      border-radius: 12px;
      width: 300px;
      height: 30px;
    }
    button{
        background-color: #d5c4b4;
        color:#55606b ;
        font-family: Impact,sans-serif;
        font-size: larger;
        letter-spacing: 2px;
        border-radius: 12px;
        transition-duration: 0.5s;
        width: 200px;
        height: 50px;
    
    }
    button:hover{
        background-color: #fff;
        color:#d5c4b4;
    }
      .post {
        border-bottom: 1px solid #ddd;
        padding: 10px;
        text-align: left;
        background-color: #55606b;
      }
      .post img{
        max-width: 100%;
        height: 500px;
        margin-bottom: 10px;
        border-radius: 12px;
      }
      .post-ratings-container{
        display:flex;
        justify-content: end;
        padding: 12px 0;
      }

      .post-rating{
        display: flex;
        align-items: center;
        cursor: default;
      }
      .post-rating:not(:last-child){
        margin-right:12px;
      }

      .post-rating-selected > .post-rating-button,
      .post-rating-selected > .post-rating-count{
        color:rgb(51, 40, 117) ;
      }

      .post-rating-button{
        margin-right: 6px;
        cursor: pointer;
        color: #555555;
      }

      .post-rating:not(.post-rating-selected) > .post-rating-button:hover{
        color: black;
      }
      
